/*
    Styling for the login page
*/

i.login {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    height: 35px;
    width: 35px;
}

/*
    Styling for the navbar & sidebar
*/
.nav-wrapper>a>.material-icons {
    padding-right: 10px;
}

ul.sidenav>li>a>i.align {
    margin-left: 4px;
    margin-right: 28px;
}

.nav-wrapper>.brand-logo.row>.row>.col {
    font-size: 14px;
}


/*
    Styling for the spreads page
*/

.collapsible-body {
padding: 3px;
}

#teams {
    margin: 5px 0px;
    border: 1px solid lightblue;
}

#teams-header {
    font-size: 8px;
    margin: 5px 0px;
    font-weight: bold;
}

#away-team {
    margin: 5px 0px;
}

#home-team {
    margin: 5px 0px;
}

#game-header {
    font-size: 12px;
}

#game {
    margin: 5px 0px;
    font-size: 10px;
}

#spread-subcategory {
    margin: 5px 0px;
}

#bet {
margin: 5px 0px;
border: 1px solid lightblue;
}

#my-account{
    text-align: center;
    background-color: #e57373;
    border-radius: 5px;
    color: white;
}

#available {
    text-align: center;
    border: 1px solid paleturquoise;
}

#pending {
    text-align: center;
    border: 1px solid paleturquoise;
}

#balance {
    text-align: center;
    border: 1px solid paleturquoise
}

#bet-type {
    font-size: 10px;
    text-align: center;
    border-bottom: 1px solid lightblue;
}
#bet-date{
    font-size: 10px;
    text-align: center;
    border-bottom: 1px solid lightblue;
}

#bet-id {
    font-size: 10px;
    text-align: center;
    border-bottom: 1px solid lightblue;
}

#bet-name {
    font-size: 12px;
}

#spread {
    font-size: 12px;
}

#bet-game-time {
    font-size: 12px;
}

