/*
    Styling for the login page
*/

i.login {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    height: 35px;
    width: 35px;
}

/*
    Styling for the navbar & sidebar
*/
.nav-wrapper>a>.material-icons {
    padding-right: 10px;
}

ul.sidenav>li>a>i.align {
    margin-left: 4px;
    margin-right: 28px;
}

.nav-wrapper>.brand-logo.row>.row>.col {
    font-size: 14px;
}


/*
    Styling for the spreads page
*/

#teams {
    margin: 5px 0px;
}

#away-team {
    margin: 5px 0px;
}

#home-team {
    margin: 5px 0px;
}

#game {
    margin: 5px 0px;
}

#spread-subcategory {
    margin: 5px 0px;
}

