/*
    Styling for the login page
*/

i.login {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    height: 35px;
    width: 35px;
}

/*
    Styling for the navbar & sidebar
*/
.nav-wrapper>a>.material-icons {
    padding-right: 10px;
}

ul.sidenav>li>a>i.align {
    margin-left: 4px;
    margin-right: 28px;
}

.nav-wrapper>.brand-logo.row>.row>.col {
    font-size: 14px;
}

/*
    Styling for the fav-bar
*/

.fav-bar {
    margin: 0;
}
.fav-bar>.col {
    padding: 0 !important;
}

.fav-row {
    padding: 0 3.5px 0 3.5px !important;
}

.fav-icon {
    padding: 7px 0 5px 0;
}


/*
    Styling for the spreads page
*/

ul.collapsible {
    margin-top: 0px;
    border-top-width: 0px;
}

.collapsible-body {
padding: 3px;
}

#teams {
    margin: 5px 0px;
    border: 1px solid lightblue;
}

#teams-header {
    font-size: 8px;
    margin: 5px 0px;
    font-weight: bold;
}

#away-team {
    margin: 5px 0px;
}

#home-team {
    margin: 5px 0px;
}

#game-header {
    font-size: 12px;
}

#game {
    margin: 5px 0px;
    font-size: 10px;
}

#spread-subcategory {
    margin: 5px 0px;
}

